$grid_col_names:(
    'one', 'two', 'three', 'four', 'five', 'six',
    'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve'
);

@function col($count:1){ @return (($grid_col_width + $grid_gutter) * $count); }

@mixin pre_col($count:1){ margin-left: col($count); }
@mixin post_col($count:1){ margin-right: col($count); }
@mixin make_grid_classes{
    @for $index from 1 through $grid_num_cols {
        .grid-#{nth($grid_col_names, $index)} {
            width: col($index);
            float:left;
            margin-right:$grid_gutter;
        }
        .grid-pre-#{nth($grid_col_names, $index)} { @include pre_col($index); }
        .grid-post-#{nth($grid_col_names, $index)} { @include post_col($index); }
    }
    .last{ margin-right:0; }
}

@mixin grid{
    margin:0 auto;
    width:col($grid_num_cols);
    @include make_grid_classes;
}

.grid{ @include grid; }