.hidden{ display: none; visibility: hidden; }
.invisible{ visibility: hidden; }

.fl-left{ float:left; }
.fl-right{ float:right; }
.cl-left{ clear:left; }
.cl-right{ clear:right; }
.cl-both{ clear:both; }
