.hidden{ display: none; visibility: hidden; }
.invisible{ visibility: hidden; }

html, body{ height: 100%; padding:0; margin:0; }

#container{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  height: 100%;

  >header, >section >footer{ padding: 20px; }
  >section{ padding: 0 inherit 0 inherit}
  >header{
    -webkit-box-pack: start;
    -webkit-box-flex: 0;
    background-color: #383838;
    hgroup{
      float: left;
    }
    #status{
      float: right;
      color: white;
      list-style: none;
      margin: 0;
      li{ float: left; margin-left: 20px; }
    }
  }

  >section{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    background-color: #4e4e4e;

    >nav ul#project-list, >aside{ padding: 60px 20px 0 20px; }
    >section{ padding: 20px; margin:40px; }
    >nav, >section, >aside{ background-color: white; }
    >nav{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-box-flex: 0;
      width: 275px;
      ul{
        -webkit-box-flex: 1;
        margin: 0;
      }
      ul#actions{
        -webkit-box-flex: 0;
        li{
          display: block;
          margin: 0;
          >a{
            display: block;
            width: 50px;
            height: 25px;
            text-indent: -9999px;
            background-color: red;
          }
        }
      }
    }
    >section{
      -webkit-box-flex: 1;
      padding: 20px;
    }
    >aside{
      -webkit-box-flex: 0;
      width: 250px;
    }
  }

  >footer{
    -webkit-box-pack: end;
    -webkit-box-flex: 0;
    padding: 20px;
  }
}