{% load html %}{% doctype "html5" %}
<html>
<head>
    {% load compress %}
    <title>{% block title %}Cobra Commander{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% compress css %}
        {% block stylesheets %}
            <link type="text/x-scss" rel="stylesheet" href="{{ STATIC_URL }}scss/screen.scss" charset="utf-8">
        {% endblock stylesheets %}
    {% endcompress %}
</head>
<body>
    <div id="container">
        {% block header %}
            <header>
                {% block header-inner %}
                    <hgroup>
                        <a href="{% url dashboard:show %}" title="Cobra Commander">
                            <h1>Cobra Commander</h1>
                        </a>
                    </hgroup>
                {% endblock header-inner %}
                <ul id="status">
                    <li class="connection"></li>
                    <li class="builder"></li>
                </ul>
            </header>
        {% endblock header %}
        <section>
            <nav>
                <ul id="project-list">
                    <li>Projects</li>
                    {% for project in projects %}
                        <li>
                            <a href="{{ project.get_absolute_url }}">
                                {{ project }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <ul id="actions">
                    <li>
                        <a href="{% url project:create %}">New project</a>
                    </li>
                </ul>
            </nav>
            <section>
                {% block main %}{% endblock %}
            </section>
            <aside>
                {% block aside %}{% endblock %}
            </aside>
        </section>
        {% block footer %}
            <footer>
                <div>
                    {% block footer-inner %}footer{% endblock footer-inner %}
                </div>
            </footer>
        {% endblock footer %}
    </div>
    {% compress js %}
        <script type="text/coffeescript" charset="utf-8">window.cc = {}</script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/jquery.1.6.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/json2.js"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/lib/BuildMonitor.coffee"></script>
        <script type="text/coffeescript">
            $ ->
                url = "ws://localhost:9991/status"
                new window.cc.BuildMonitor(url)
        </script>
        {% block scripts %}{% endblock scripts %}
    {% endcompress %}
</body>
</html>