{% load html %}{% doctype "html5" %}
<html>
<head>
    {% load compress %}
    <title>{% block title %}Cobra Commander{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% compress css %}
        {% block stylesheets %}
            <link type="text/x-scss" rel="stylesheet" href="{{ STATIC_URL }}scss/screen.scss" charset="utf-8">
        {% endblock stylesheets %}
    {% endcompress %}
</head>
<body>
    <div id="container">
        {% block header %}
            <header>
                {% block header-inner %}
                    <hgroup>
                        <a href="{% url dashboard:show %}" title="Cobra Commander">
                            <h1>Cobra Commander</h1>
                        </a>
                    </hgroup>
                {% endblock header-inner %}
                <nav>
                    <ul id="project-list">
                        <li>Projects</li>
                        {% for project in projects %}
                            <li>
                                <a href="{{ project.get_absolute_url }}">
                                    {{ project }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul id="actions">
                        <li>
                            <a href="{% url project:create %}">New project</a>
                        </li>
                    </ul>
                </nav>
            </header>
        {% endblock header %}
        <section>
            <div>
                <section>
                    {% block main %}{% endblock %}
                </section>
                <aside>
                    <header>
                        <ul id="status">
                            <li class="connection"></li>
                            <li class="builder"></li>
                        </ul>
                    </header>
                    <ol id="build-queue">
                        <li class="empty">No queued builds.</li>
                    </ol>
                    {% block aside %}{% endblock %}
                </aside>
            </div>
            {% block footer %}
                <footer>
                    <div>
                        <p id="version" class="fl-right">
                            {{ app.version }}
                        </p>
                        <p id="builds" class="fr-right">
                            xxx builds an still going strong!
                        </p>
                    </div>
                </footer>
            {% endblock footer %}
        </section>
    </div>
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/jquery.1.6.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/json2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/sugar.0.9.1.min.js"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/App.coffee"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/app/lib/WebSocket.coffee"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/app/BuildQueue.coffee"></script>
        <script type="text/coffeescript">
            $ -> new window.cc.BuildQueue("ws://localhost:9991/status")
        </script>
        {% block scripts %}{% endblock scripts %}
    {% endcompress %}
</body>
</html>
