$show_grid:                 false;
$baseline:                  6px;

$module_width:              60px;
$gutter:                    20px;
$num_modules:               12;

$color:                     #4E4E4E;
$body_background_color:     #C4C4C4;
$header_background_color:   #C4C4C4;
$content_background_color:  #B3B3B3;
$blue:                      #537E99;