{% extends "_base.html" %}

{% block aside %}
  <header>
    <h2>Build queue:</h2>
  </header>
{% endblock %}

{% block main %}
  <section>
    <header>
    <h1>Projects</h1>
  </header>
    {% for project in projects %}
      <section>
        <header>
          <a href="{{ project.get_absolute_url }}">
            <h1>{{ project }}</h1>
          </a>
        </header>
        last build:
        {% if project.last_build %}
          <a href="{{ project.last_build.get_absolute_url }}">
            {{ project.last_build }}
          </a>
        {% else %}
          <p>You haven't run any builds yet. Need a hand setting up?</p>
      {% endif %}
      </section>
    {% empty %}
      <section>
        You have not added any projects yet!
      </section>
    {% endfor %}
    <p><a href="{% url project:create %}">I must have more.</a></p>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/vendor/json2.js"></script>
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/dashboard.coffee"></script>
{% endblock %}