{% extends "_base.html" %}

{% block aside %}
  <header>
    <ol id="build-queue"></ol>
  </header>
{% endblock %}

{% block main %}
  <section>
    <header>
    <h1>Projects</h1>
  </header>
    {% for project in projects %}
      <section>
        <header>
          <a href="{{ project.get_absolute_url }}">
            <h1>{{ project }}</h1>
          </a>
        </header>
        <ul>
          {% for target in project.target_set.all %}
            <li>
              <form action="{% url target:build project_name_slug=project.name_slug branch=target.branch %}" method="post">
                {% csrf_token %}
                <input type="submit" value="build {{ target }}">
              </form>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% empty %}
      <section>
        You have not added any projects yet!
      </section>
    {% endfor %}
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/dashboard.coffee"></script>
{% endblock %}